#BDLogo{
  width: 50%;
  padding-right: 30%;
}
.User{
  display: inline-block;
  width: 100%;
}
body{
  background-color: #9921e8;
  background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
}